/*
|--------------------------------------------------------------------------
| Backend - Components - Editor - Design
|--------------------------------------------------------------------------
*/

.editor {

  .ql-toolbar {

      margin-bottom: 0.5rem;

      .ql-formats {

          border: 1px solid $border-color;
          @include border-radius($btn-border-radius);
          margin-right: 0.5rem;

          &:last-child {
              margin-right: 0;
          }

          button {
              line-height: 0;
              padding: 0.25rem;
              background: $white;
              &.ql-active,
              &:hover {
                background: $border-color;
              }
          }

          .dropdown-toggle::after {
              vertical-align: middle !important;
          }

          .dropdown-menu {
              min-width: auto !important;
          }
      }

  }

  .ql-container {

    .ql-editor {
        background: $input-bg;
        border: $input-border-width solid $input-border-color;
        @include border-radius($input-border-radius);
        padding: $input-padding-y $input-padding-x;
        font-size: $input-font-size;
        line-height: $input-line-height;
        color: $input-color;
        @include form-control-focus($ignore-warning: true);
        > p:last-child {
            margin-bottom: 0;
        }
    }

    &.is-invalid > .ql-editor{
        border-color: $form-feedback-invalid-color;
        @if $enable-validation-icons {
          padding-right: $input-height-inner;
          background-image: escape-svg($form-feedback-icon-invalid);
          background-repeat: no-repeat;
          background-position: top $input-height-inner-quarter right $input-height-inner-quarter;
          background-size: $input-height-inner-half $input-height-inner-half;
        }
        &:focus {
          border-color: $form-feedback-invalid-color;
          box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, .25);
        }
    }

    .ql-clipboard {
        left:-100000px;
        height: 1px;
        overflow-y: hidden;
        position: absolute;
        top:50%;
    }

  }

  .ql-textarea {
      display:none;
  }

}
