/*
|--------------------------------------------------------------------------
| SP - Backend - Components - Form - Design
|--------------------------------------------------------------------------
*/

form {

  fieldset {

      padding-bottom: 1rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $border-color;

      legend {
          margin-bottom: 1rem;
          font-size: 1rem;
          color: $gray-600;
          font-weight: $font-weight-bold;
      }

      > .row > div,
      > div:not(.row) {
          margin-bottom: 1rem;
      }

      &.dynamic-fieldset > .dynamic-list > .dynamic-item-delete {
          > .dynamic-item-btn .icon-trash:before{
            content: "\e035" // Change the icon for a plus
          }
      }

  }

}
