/*
|--------------------------------------------------------------------------
| Listing component
|--------------------------------------------------------------------------
*/

.listing {

    .listing-header {
        align-items:flex-end;
        > .listing-filter {
            font-family: $headings-font-family;
            margin:0;
            color: $secondary;
            font-size: 1rem;
            font-weight: 300;
            > a {
                color: $secondary;
                &:hover,
                &.active {
                  color: $primary;
                }
            }

        }
    }

    .listing-body {

        border:1px solid $border-color;
        background: $card-bg;
        margin: 1rem 0;

    }

    .listing-footer {

        .listing-total {
            color: $secondary;
            font-size: $font-size-sm;
        }

    }

}
