/*
|--------------------------------------------------------------------------
| Search component
|--------------------------------------------------------------------------
*/

.search-form {

    background: $white;
    margin-bottom: 2rem;

    > .input-group {

        border:1px solid $border-color;
        border-bottom:2px solid $primary;

        > input, > .btn {
            @include border-radius(0);
            border-color: transparent;
        }

        > .btn[data-toggle="collapse"] {
          &:not(.collapsed) {
            background: $primary;
            color: $white;
          }
        }

        > .btn > i {
            line-height: 1;
        }

    }

    > .collapse-search > .collapse-search-body {
        border: 1px solid $border-color;
        padding: 1rem;
    }

}
