/*
|--------------------------------------------------------------------------
| Search component
|--------------------------------------------------------------------------
*/

.search-form {

    background: $white;
    margin-bottom: 2rem;

    > .input-group {

        border:1px solid $border-color;
        border-bottom:2px solid $primary;

        > input, > .btn {
            @include border-radius(0);
            border-color: transparent;
        }

        > .btn[data-bs-toggle="collapse"] {
          &:not(.collapsed) {
            background: $primary;
            color: $white;
          }
        }

        > .btn > i {
            line-height: 1;
        }

    }

    > .collapse-search {

      h1 {
        font-size: 1rem;
        text-transform: uppercase;
        color: $secondary;
        margin-bottom: .5rem;
      }

      > .collapse-search-body,
      > .collapse-search-footer  {
          border: 1px solid $border-color;
      }

      > .collapse-search-body  {
          padding: 2rem 2rem 1rem 2rem;

          .col {
            margin: .5rem 0;
          }

      }

      > .collapse-search-footer  {
          padding: 1rem 2rem;
          display: flex;
          align-items: center;
      }
    }

}
