/*
|--------------------------------------------------------------------------
| Breadcrumb
|--------------------------------------------------------------------------
*/

#breadcrumb {

  .breadcrumb {
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;

    @include media-breakpoint-up(lg) {
        padding: $breadcrumb-padding-y $breadcrumb-padding-x * 2;
    }

  }

  .breadcrumb-item:not(.active) {
    color: $secondary;
    > a {
      color: $secondary;
      &:hover {
        color:$breadcrumb-active-color;
      }
    }
  }



}
