/*
|--------------------------------------------------------------------------
| SP - Backend - Layout - Breadcrumb - Design
|--------------------------------------------------------------------------
*/

#breadcrumb {

  .breadcrumb-item:not(.active) {
    color: $secondary;
    > a {
      color: $secondary;
      &:hover {
        color:$breadcrumb-active-color;
      }
    }
  }

  @include media-breakpoint-down(md) {

    .breadcrumb {
        padding: $breadcrumb-padding-y $breadcrumb-padding-x * 0.75;
    }

  }

}
