/*
|--------------------------------------------------------------------------
| Backend - Layout - Main - Design
|--------------------------------------------------------------------------
*/

html, body {
    height: 100%;
}

main {
    padding: 0 !important;
    margin-left: auto;

    > .main-body {
        padding: $main-spacer-y $main-spacer-x;

        @include media-breakpoint-down(md) {
          padding: $main-spacer-y $main-spacer-x/2;
        }

        > .page-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $border-color;
            padding-bottom: $main-spacer-y;
            > h2 {
              margin:0;
            }
        }

        .card {
            margin: $main-spacer-y/2 auto;
        }

    }

}
