/*
|--------------------------------------------------------------------------
| SP - Backend - Layout - Mainbar - Design
|--------------------------------------------------------------------------
*/

#mainbar {
    background: $mainbar-bg;
    color: $mainbar-color;
    height: $mainbar-height * .75;
    display: flex;
    align-items: center;

    // Toggle button
    .toggle-sidebar {
        font-size: 1.75rem;
        &:before {
          display: inline-block;
          border: none;
          font-family: 'sp-icon';
          content: $icon-menu;
          line-height: 1;
        }
    }

    // Title of the page
    > h1 {
        margin: 0 auto 0 0;
        padding: 0 $main-spacer-x * 0.5;
        white-space: nowrap;
        color: $white;
    }

    // All the button are full height
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: none;
        background: none;
        color: $mainbar-color;
        padding: 0 $btn-spacer-x * .5;
        @include border-radius(0);
        > i {
            margin: 0;
            font-size: 1.5rem;
        }
        > span, &:after {
            display: none  !important;
        }
        &:hover {
          background: rgba(0,0,0,0.3);
        }
    }

    // Dropdown for the mainbar
    > .dropdown {

        height: 100%;

        // Dropdown button
        > .dropdown-toggle {

            // Custom carret icon
            &:after {
                display: inline-block;
                border: none;
                font-family: 'sp-icon';
                content: $icon-chevron-down;
                line-height: 1;
                font-size: $font-size-sm;
                vertical-align: baseline;
                margin-left: $icon-spacer-x;
            }

        }

        // When dropdown is open change the carret
        &.show > .dropdown-toggle:after {
            content: $icon-chevron-up;
        }

        // Dropdown menu is under the mainbar and is the min length of the button
        > .dropdown-menu {

            min-width: 100%;
            transform: none !important;
            top: $mainbar-height * .75 !important;
            right: 0!important;
            left:auto!important;
            margin: 0;
            border-top: none;

            .dropdown-header {
                font-size: $h6-font-size !important;
            }

          }

    }

    // Account button & toggle button
    #accountDropdown,
    .toggle-sidebar {
        background: rgba(0,0,0,0.2);
    }


    // Responsive view for Phone
    @include media-breakpoint-up(lg) {

        height: $mainbar-height;

        > h1 {
            padding: 0 $main-spacer-x;
        }

        .btn {
          padding: 0 $btn-spacer-x;
          > i {
              margin-right: $icon-spacer-x * 2;
          }
          > span, &:after {
              display: block !important;
          }
        }

        > .dropdown > .dropdown-menu {
            top: $mainbar-height !important;
        }

    }

}
