/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

#sidebar {
    visibility: hidden;
    @include make-col(12);
    width: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-right: 1px solid $border-color;
    outline: 0;
    transform: translateX(-100%);

    // Header
    > .sidebar-header {

        height: 3rem;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // Backend title
        > h1 {
            margin: 0 1.5rem;
            text-align: left;
        }

        // Close button for Phone & Tablet
        .toggle-sidebar {
            font-size: 1.75rem;
            height: 100%;
            padding: 0 1rem;
            &:before {
              display: inline-block;
              border: none;
              font-family: 'sp-icon';
              content:  $icon-cross;
              line-height: 1;
            }
        }

    }

    // Body
    > .sidebar-body {

      overflow-y: auto;
      overflow-x: hidden;
      padding: 2rem 1.5rem;

      // Block of links
      > nav {

          margin-bottom: 2rem;

          // Header/Title of the block
          > .nav-header {

              color: $primary;
              font-size: 1rem;
              font-weight: 600;

              > i, > .nav-header-link > i{
                  margin-right: 0.25rem;
              }

              > .nav-header-link {
                  text-decoration: none;
                  &:hover {
                      color: darken($primary, 15%);
                  }
                  &.active {
                      color: darken($primary, 15%);
                  }
              }

          }

          // Links
          > .nav-link {
              color: $secondary;
              padding: 0.25rem 0 0 1.5rem;
              &:hover {
                  color: darken($secondary, 15%);
              }
              &.active {
                  color: $primary;
              }
          }

      }

    }

    // Footer
    > .sidebar-footer {
        font-size: $font-size-sm;
        font-style: italic;
        text-align: center;
        color: $secondary;
        padding: 0.5rem 0;
        border-top: 1px solid $border-color;
    }

    /*
    |--------------------------------------------------------------------------
    | RESPONSIVE
    |--------------------------------------------------------------------------
    */

    // For Tablette
    @include media-breakpoint-up(md) {
        @include make-col(4);
        > .sidebar-header {
            > h1 {
                margin: 0 2rem;
                text-align: center;
            }
            .toggle-sidebar {
                display:none;
            }
        }
    }

    // For Laptop
    @include media-breakpoint-up(lg) {
        > .sidebar-header {
          height: 4rem;
        }
        @include make-col(3);
    }

    // For Big Screen
    @include media-breakpoint-up(xl) {
        @include make-col(2);
    }

}
