/*
|--------------------------------------------------------------------------
| SP - Backend - Layout - Sidebar - Design
|--------------------------------------------------------------------------
*/

#sidebar {
    visibility: hidden;
    @include make-col(12);
    width: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: flex;
    flex-direction: column;
    background-color: $sidebar-bg;
    border-right: 1px solid $border-color;
    outline: 0;
    transform: translateX(-100%);


    // Header of the sidebar
    > .sidebar-header {

        height: $sidebar-header-height * .75;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // Backend title
        > h1 {
            margin: 0 $main-spacer-x * 0.75;
            text-align: left;
        }

        // Close button for Phone & Tablet
        .toggle-sidebar {
            font-size: 1.75rem;
            height: 100%;
            padding: 0 $btn-spacer-x * 0.5;
            &:before {
              display: inline-block;
              border: none;
              font-family: 'sp-icon';
              content: $icon-cross;
              line-height: 1;
            }
        }

    }

    // Body of the sidebar
    > .sidebar-body {

        overflow-y: scroll;
        overflow-x: hidden;
        padding: $sidebar-body-padding;

      // Block of links
      > nav {

          margin-bottom: $sidebar-nav-spacer-y;

          // Header/Title of the block
          > .nav-header {

              color: $sidebar-nav-header-color;
              font-size: 1rem;
              font-weight: 600;

              > i, > .nav-header-link > i{
                  margin-right: $icon-spacer-x;
              }

              > .nav-header-link {
                  &:hover {
                      color: $sidebar-nav-header-hover-color;
                  }
                  &.active {
                      color: $sidebar-nav-header-active-color;
                  }
              }

          }

          // Links
          > .nav-link {
              color: $sidebar-nav-link-color;
              padding: $sidebar-nav-link-padding;
              &:hover {
                  color: $sidebar-nav-link-hover-color;
              }
              &.active {
                  color: $sidebar-nav-link-active-color;
              }
          }

      }

    }

    // Footer of the sidebar
    > .sidebar-footer {

        font-size: $font-size-sm;
        font-style: italic;
        text-align: center;
        color: $secondary;
        padding: $sidebar-footer-padding;
        border-top: 1px solid $border-color;

    }

    // Responsive view for Tablette
    @include media-breakpoint-up(md) {

        @include make-col(4);

        > .sidebar-header {
            > h1 {
                margin: 0 $main-spacer-x;
                text-align: center;
            }
            .toggle-sidebar {
                display:none;
            }
        }

    }

    // Responsive view for Laptop
    @include media-breakpoint-up(lg) {

        > .sidebar-header {
          height: $sidebar-header-height;
        }

        @include make-col(3);
    }

    // Responsive view for Screen
    @include media-breakpoint-up(xl) {
        @include make-col(2);
    }


}
