/*
|--------------------------------------------------------------------------
| Brand - Variables
|--------------------------------------------------------------------------
|
| This variables are shared in frontend and backend
|
*/

$brand: #B790E5;

// Custom the bootstrap theme color (ex: alert-mycustom)
$custom-theme-colors: ();

// Custom the bootstrap utilities color (ex: text-mycustom or bg-mycustom)
$custom-utilities-colors: $custom-theme-colors;

// Custom the bootstrap table color (ex: table-mycustom)
$custom-table-colors: $custom-theme-colors;
