/*
|--------------------------------------------------------------------------
| Backend - Bootstrap Variables
|--------------------------------------------------------------------------
*/

// Options
$enable-caret:                                true;
$enable-rounded:                              true;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-responsive-font-sizes:                true;

// Colors
$secondary: #B1B1B1;
$theme-colors: (
  'brand' : $brand
);

$yiq-contrasted-threshold:  170;

$border-color:          #F1F1F1;
$component-active-bg:   $brand;

// Body
$body-bg: #FAFAFA ;

// Links
$link-color:                              $brand;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%) ;
$link-hover-decoration:                   none;

// Typography
$font-family-base:            'Raleway', sans-serif;
$headings-font-family:        'Quicksand', sans-serif;

// Inputs & buttons
$input-btn-focus-box-shadow:  none;
$input-focus-border-color:    $brand;

// Button
$btn-focus-width:             0;
$btn-focus-box-shadow:        none;
$btn-border-radius:           2rem ;
$btn-border-radius-lg:        3rem ;
$btn-border-radius-sm:        1rem ;

// Form
$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);

// Dropdown
$dropdown-link-active-color:        $brand;
$dropdown-link-active-bg:           transparent;
$dropdown-border-color:             $border-color;
$dropdown-header-color:             $secondary;

// Card
$card-border-color: $border-color;

/*
|--------------------------------------------------------------------------
| Backend - Layout Variables
|--------------------------------------------------------------------------
|
| Copyright © 2020 Natacha Herth, design & web development | https://www.natachaherth.ch/
|
*/

// Global
$icon-spacer-x:   0.25rem;
$btn-spacer-x:    2rem;
$main-spacer-x:   2rem;
$main-spacer-y:   2rem;

// Mainbar
$mainbar-height:  4rem;
$mainbar-bg:      $brand;
$mainbar-color:   #fff;

// Sidebar Header
$sidebar-header-height:   $mainbar-height;

// Sidebar Body
$sidebar-body-padding:    2rem;
$sidebar-nav-spacer-y:    2rem;
$sidebar-bg:              #fff;

// Sidebar Nav Header
$sidebar-nav-header-color:        $brand;
$sidebar-nav-header-hover-color:  darken($sidebar-nav-header-color, 15%);
$sidebar-nav-header-active-color: darken($sidebar-nav-header-color, 15%);

// Sidebar Nav Links
$sidebar-nav-link-padding:        0.25rem 0 0 1.9rem;
$sidebar-nav-link-color:          $secondary;
$sidebar-nav-link-hover-color:    darken($sidebar-nav-link-color, 15%);
$sidebar-nav-link-active-color:   $brand;

// Sidebar Footer
$sidebar-footer-padding: 0.5rem 0;

// Button round
$btn-round-size: 30px;
$btn-round-font-size: 0.9rem;
$btn-round-default-color: $secondary;
$btn-round-default-bg: $border-color;
