/*
|--------------------------------------------------------------------------
| App
|--------------------------------------------------------------------------
*/

#app {

    #content {
        padding: 0 !important;
        margin-left: auto;
        @include make-col(12);
    }

    // Change when sidebar is only on/open
    &.sidebar-on:not(.sidebar-close),
    &.sidebar-open {

        // Change toggle icon in mainbar
        #mainbar .toggle-sidebar:before {
            content:  $icon-cross;
        }

        // Sidebar is visible
        #sidebar {
            transform: translateX(0);
        }

    }

    // Change when sidebar is on/open
    &.sidebar-on,
    &.sidebar-open {
        #sidebar {
          visibility: visible;
        }
    }

    // Change when sidebar is open/close
    &.sidebar-open,
    &.sidebar-close {

        #content {
          @include transition(all 1s ease-in-out);
        }

        #sidebar {
          @include transition(transform 1s ease-in-out);
        }
    }

    /*
    |--------------------------------------------------------------------------
    | RESPONSIVE
    |--------------------------------------------------------------------------
    */

    // Responsive view for Tablette
    @include media-breakpoint-up(md) {
        &.sidebar-on:not(.sidebar-close) #content,
        &.sidebar-open #content {
          @include make-col(8);
        }
    }

    // Responsive view for Laptop
    @include media-breakpoint-up(lg) {
        &.sidebar-on:not(.sidebar-close) #content,
        &.sidebar-open #content {
          @include make-col(9);
        }
    }

    // Responsive view for Screen
    @include media-breakpoint-up(xl) {
        &.sidebar-on:not(.sidebar-close) #content,
        &.sidebar-open #content {
          @include make-col(10);
        }
    }

}
