/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
*/

main {

  padding: 1rem;

  @include media-breakpoint-up(lg) {
      padding: 2rem;
  }

  .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $border-color;
      padding-bottom: 2rem;
      > h2 {
        margin:0;
      }
  }

  .card {
      margin-top: 2rem;
  }

  .btn-gray {
      color: $body-color !important;
  }

  li > p:last-child {
    margin: 0;
  }

}
