/*
|--------------------------------------------------------------------------
| History component
|--------------------------------------------------------------------------
*/

.history {
    .list-group-item {
      .history-tooltip {
        &:hover {
          cursor: pointer;
        }
      }
      .history-content {
        line-height: 1.2;
        a {
          color: $body-color;
          &:hover {
            color: $primary
          }
        }
      }
    }
}
