/*
|--------------------------------------------------------------------------
| Frontend - Layout Design
|--------------------------------------------------------------------------
|
| Copyright © 2020 Natacha Herth, design & web development | https://www.natachaherth.ch/
|
*/

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    > header {
      background: $light;
      margin-bottom: 1rem;
    }

    > main {
      flex-shrink: 0 !important;
    }

    > footer {
        margin-top: auto;
        text-align: right;
        .copyright {
          font-size: 0.75rem;
          font-style: italic;
          a {
            color: $body-color;
            &:hover {
              color: $primary;
            }
          }
        }
    }
}
