/*
|--------------------------------------------------------------------------
| Backend Layout Design
|--------------------------------------------------------------------------
|
| Copyright © 2020 Natacha Herth, design & web development | https://www.natachaherth.ch/
|
*/

html {
    height: 100%;
}

body {
    height: 100%;
    main {
      padding: 0 !important;
      margin-left: auto;
      > .main-body {
        padding: $main-spacer-y $main-spacer-x;
      }
    }
}

.btn-default {
  color: $btn-default-color !important;
}

.pagination > .page-item {
  > .page-link {
    @include border-radius(50%);
    margin: 0 2px;
  }

  &:first-child > .page-link {
    margin-left:0;
  }
  &:last-child > .page-link {
    margin-right:0;
  }
}
