/*
|--------------------------------------------------------------------------
| Backend - Variables
|--------------------------------------------------------------------------å
*/

// Global
$icon-spacer-x:   0.25rem;
$btn-spacer-x:    2rem;
$main-spacer-x:   2rem;
$main-spacer-y:   2rem;

// Mainbar
$mainbar-height:  4rem;
$mainbar-bg:      $primary;
$mainbar-color:   $white;

// Sidebar Header
$sidebar-header-height:   $mainbar-height;

// Sidebar Body
$sidebar-body-padding:    2rem;
$sidebar-nav-spacer-y:    2rem;
$sidebar-bg:              $white;

// Sidebar Nav Header
$sidebar-nav-header-color:        $primary;
$sidebar-nav-header-hover-color:  darken($sidebar-nav-header-color, 15%);
$sidebar-nav-header-active-color: darken($sidebar-nav-header-color, 15%);

// Sidebar Nav Links
$sidebar-nav-link-padding:        0.25rem 0 0 1.9rem;
$sidebar-nav-link-color:          $secondary;
$sidebar-nav-link-hover-color:    darken($sidebar-nav-link-color, 15%);
$sidebar-nav-link-active-color:   $primary;

// Sidebar Footer
$sidebar-footer-padding: 0.5rem 0;
