/*
|--------------------------------------------------------------------------
| Colors theme for Bootstrap
|--------------------------------------------------------------------------
*/

$sp-theme-colors: (
  "gray":  $gray,
  "border": $border-color
);

@if variable-exists(custom-theme-colors) {
  $sp-theme-colors: map-merge($sp-theme-colors,$custom-theme-colors);
}

$theme-colors: map-merge($theme-colors,$sp-theme-colors);
